header {
    background-color: pink;
    color: darkblue;
    text-align: center;
    position: fixed;
    top: 0;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

nav {
    display: ___;
    /* Выровняйте ссылки по горизонтали */
    justify-content: ___;
    gap: ___px;
    /* Укажите расстояние между ссылками */
}

nav a {
    color: ___;
    /* Укажите цвет ссылок */
    text-decoration: ___;
    /* Уберите подчеркивание */
    padding: ___px;
}